@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.one{
        height:700px;
        background-image: url(b4.jpg);
        text-align: center;
        background-color:white;
        background-size: 100% 100%;
}
h{
        font-family: 'Pacifico', cursive;
        font-size:30px;

        display:flex ;
}
.post{
        display:flex;
        justify-content:left;
        padding: 100px 5%;
        text-align: center;
        
    }
.y{
        display:flex;
        justify-content:left;




}